<html>
    <head>
        {{#if title}}
        <title> {{title}} - Pastebin </title>
        {{else}}
        <title> Untitled paste - Pastebin </title>
        {{/if}}
    </head>

    <body>
        {{content}}
    </body>
</html>